@model IEnumerable<SALES.Entities.Product>

<div class="table-responsive table-hover table-bordered">
    <table class="table">
        <tr class=" text-primary">
            <th class="text-center">STT</th>
            <th> Tên sản phẩm</th>
            <th>Giá bán</th>
            <th>Số lượng tồn</th>
            <th>Số lượng bán</th>
            <th>Kích hoạt</th>
            <th style="width: 25%"></th>
        </tr>
        <tbody>
            @{
                int index = 1;
                foreach (var item in Model)
                {
                        <tr>
                            <td class="text-center">
                                @(index++)
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.PriceOut
                            </td>
                            <td>
                                @item.QuantilyIn
                            </td>
                            <td>
                                @item.QuantilyOut
                            </td>
                            <td>
                                @item.IsActive
                            </td>
                            <td>
                                <button class="btn btn-info  btn-sm pull-right" name="btnAddImg" data-add-product-id="@item.Id"><i class="fa fa-plus"  data-target="#addImgModal"></i></button>
                                <button class="btn btn-danger  btn-sm pull-right" name="btnDelete" data-delete-product-id="@item.Id"><i class="fa fa-trash"></i></button>
                                <button class="btn btn-success btn-sm pull-right" name="btnEdit" data-edit-product-id="@item.Id" data-edit-product-description="@item.Description" data-edit-product-name="@item.Name"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>