@model IEnumerable<SALES.Entities.Category>

<div class="table-responsive table-hover table-bordered">
    <table class="table">
        <tr class=" text-primary">
            <th class="text-center">STT</th>
            <th> Tên loại</th>
            <th>Mô tả</th>
            <th>Kích hoạt</th>
            <th style="width: 25%"></th>
        </tr>
        <tbody>
            @{
                int index = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @(index++)
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Ischeck
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger  btn-sm pull-right" id="btnDelete" data-delete-product-id="@item.Id">Delete</button>
                            <button type="button" class="btn btn-success btn-sm pull-right" id="btnEdit" data-edit-product-id="@item.Id" data-edit-product-description="@item.Description" data-edit-product-name="@item.Name" data-edit-product-ischeck="@item.Ischeck">Edit</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>